/.CFUserTextEncoding
/.Trash
/.antigen
/.bash_history
/.config/hub
/.dropbox
/.dropbox-master
/.irb_history
/.lesshst
/.rubies
/.ssh
/.subversion
/.vim/.netrwhist
/.vim/bundle
/.viminfo
/.zcompdump
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library/*
/Movies
/Music
/Pictures
/Public
/clients
/git
/src

!/Library/KeyBindings
!/.vim/bundle/neobundle.vim
