/.CFUserTextEncoding
/.Trash
/.bash_history
/.byebug_hist
/.config
/.config/gh
/.config/hub
/.cups/
/.dropbox
/.dropbox-master
/.gem/
/.guard_history
/.heroku/
/.irb_history
/.lesshst
/.netrc
/.phantomjs/
/.pow
/.psql_history
/.rubies
/.ssh
/.subversion
/.vim/.netrwhist
/.vim/bundle
/.viminfo
/.zcompdump
/.zcompdump.zwc
/.zhistory
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Inbox
/Library/*
/Movies
/Music
/Pictures
/Public
/clients
/git
/mail
/src
/tmp/

!/Library/KeyBindings
!/.vim/bundle/neobundle.vim
